config.php
.DS_Store
.vscode/
ui/ui_custom/**
!ui/ui_custom/index.html
!ui/ui_custom/README.md
!system/lan/index.html
!system/lan/indonesia.json
!system/lan/spanish.json
!system/lan/turkish.json
!system/lan/english.json
!system/lan/country.json
*.zip
pages/
ui/ui/compiled
ui/compiled/*.php
ui/cache/*.php
test.php
/.vs
docker-compose.yml
docs/**
!docs/*.html
!docs/*.md
back.log